{% extends "base.html" %}

{% block content %}
  <h1 class="container__title">New episodes</h1>
  <div class="card__container">
    {% for episode in episodes %}
      <article>
        <div class="card__product">
        
          <div>
            <h3 class="card__name">{{ episode.title }}</h3>
              <span class="card__description">{{episode.description}}</span>
          </div>
          </div>
          <div class="modal">
            <div class="modal__card">
              <i class="ri-close-large-line modal__close"></i>
              <img src="assets/img/card-img-1.png" alt="image" class="modal__img">
              <div>
                  <h3 class="modal__name">{{ episode.title }}</h3>
                  <p class="modal__info">
                    {{episode.description}}
                  </p>
              </div>
            </div>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock %}