{% extends "base.html" %}

{% block content %}
<section class="section">
  <h1 class="section__title-center">Create a New Episode</h1>

  <div class="episode__create-container container" style="display: flex; align-items: center; justify-content: center;">
      <form class="episode__create-form" action="{{ url_for('create_episode') }}" method="post" style="row-gap: 20px; display: grid;">
        <div class="episode__create-field">
          <label class="episode__create-label">Title</label>
          <div class="episode__create-control">
            <input class="input" type="text" name="title" required>
          </div>
        </div>
    
        <div class="episode__create-field">
          <label class="episode__create-label">Description</label>
          <div class="episode__create-control">
            <textarea class="textarea" name="description" required></textarea>
          </div>
        </div>
    
        <div class="episode__create-field">
          <label class="episode__create-label">Host</label>
          <div class="episode__create-control">
            <textarea class="textarea" name="host" required></textarea>
          </div>
        </div>
        
        <div class="episode__create-control">
          <button type="submit" class="button is-success" style="padding: 20px 10px; background: var(--first-color); color: #fff;">Save Episode</button>
        </div>
      </form>
  </div>
</section>

{% endblock %}
