{% extends "base.html" %}

{% block content %}
<section class="section">
  <h1 class="section__title-center">New Episodes</h1>
    
  <div class="episode__container">
      {% for episode in episodes %}
        <article>
          <div class="episode__card">
            <div>
              <h3 class="episode__name">{{ episode.title }}</h3>
              <span class="episode__description">{{episode.description}}</span>
            </div>
            <span class="episode__author">- {{episode.host}}</span>
            <h3 class="episode__id">id: {{ episode.id }}</h3>
          </div>
          <div style="display: flex; column-gap: 20px;">
            <button type="submit" class="button is-danger"  onclick="deleteEpisode('{{ episode.id }}')" style="padding: 10px 20px; background: var(--first-color); color: #fff;">
              Delete
            </button>
            <a href="/api/v1/podcast/episodes/{{ episode.id }}/generate_alternative" class="button is-warning" style="padding: 10px 20px; background: var(--first-color); color: #fff;">
              Generate Alternative
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
</section>

<script>
  async function deleteEpisode(id) {
    if (!confirm('Are you sure you want to delete this episode?')) return;

    const response = await fetch(`/api/v1/podcast/episodes/${id}/delete`, {
      method: 'DELETE'
  });

  if (response.ok) {
    // Remove element from DOM or reload page
    window.location.reload();
  } else {
    alert('Failed to delete episode.');
  }
}

</script>
{% endblock %}