{% extends "base.html" %}

{% block content %}
            <section class="home" id="home">
                <div class="home__container container grid">
                    <img src="{{ url_for('static', path='./assets/bg.jpg') }}" alt="" class="home__img">

                    <div class="home__data">
                        <h1 class="home__title">
                            Podcast listening will <br> make your life better
                        </h1>
                        <p class="home__description">
                            Create incredible topics. 
                            Add fresness to your new ideas.
                        </p>
                    </div>

                    <div class="home__social">
                        <span class="home__social-follow">Follow Us</span>

                        <div class="home__social-links">
                            <a href="https://www.facebook.com/vocnuft/" target="_blank" class="home__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/vocnuft/" target="_blank" class="home__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}