{% extends "base.html" %}

{% block content %}
<section class="section">
  <h1 class="section__title-center">New Episodes</h1>
    
  <div class="episode__container">
      {% for feed in feeds %}
        <article>
          <div class="episode__card">
            <div>
              <img src="{{ feed.image_url }}" alt="{{ feed.title }}">
              <h3 class="episode__name">{{ feed.title }}</h3>
              <h3 class="episode__date">{{ feed.date }}</h3>
              <span class="episode__description">{{ feed.description[:100] }}...</span>
            </div>
            <span class="episode__author">- {{ feed.author }}</span>
            <span>{{ feed.origin }}</span>
            <span>{{ feed.uuid }}</span>
          </div>
          <a href=""></a>
        </article>
      {% endfor %}
    </div>
</section>
{% endblock %}